# Project
/dist

# Project - Dev
/decKey.txt

# Build output
build/

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Executables
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.exp

# Debug bitmaps
*.bmp

# Shortcuts
*.lnk

# Claude Code
/CLAUDE.md
/.claude
